<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}"
      lang=""
      th:xmllang="${#locale.language}"
      class="no-js" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.min.css}" >
    <title th:text="#{homePage.title}"></title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">KitStarter</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="" height=20px th:src="@{/img/{flag}(flag=${#strings.substring(#locale,0,2)} +'.png')}" width=30 src="">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" th:href="@{/(lang=fr)}" >
                                    <img alt="" height=20px th:src="@{/img/fr.png}" width=30 src="">
                                    <span th:text="#{lang.fr}"></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/(lang=en)}" >
                                    <img alt="" height=20px th:src="@{/img/en.png}" width=30 src="">
                                    <span th:text="#{lang.en}"></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/(lang=de)}" >
                                    <img alt="" height=20px th:src="@{/img/de.png}" width=30 src="">
                                    <span th:text="#{lang.de}"></span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/(lang=nl)}" >
                                    <img alt="" height=20px th:src="@{/img/nl.png}" width=30 src="">
                                    <span th:text="#{lang.nl}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container-fluid">
        <h1 class="mt-5" th:text="#{homePage.title}"></h1>
        <svg class="bi bi-exclamation-triangle text-success" width="32" height="32" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
